{% load static%}
{% include 'header.html' %}    
  <!-- about section -->

  <section class="about_section layout_margin-bottom">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="images/about-img.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About <span>Us</span>
              </h2>
            </div>
            <p>
              Our Journey was started more than 25 years back in 1990 A.D (2046 B.S) by the name of PK Clinic aiming to provide world class, holistic and affordable healthcare. Initially, PK Clinic was operated with 8 beds and 3 doctors.

              It was in 1996 A.D (2052 B.S)  PK Nursing Home was registered as PK Clinic, Kathmandu, which was never possible without dedicated professionals and the trust that the community had shown towards the hospital.
            </p>

          </div>
        </div>
      </div>
    </div>
  </section>
  {% include 'footer.html' %}    
